.credential {
    width: 150px;
}

.checkbox-wrapper-28 {
    --size: 25px;
    position: relative;
    margin-top: 20px;
}

.checkbox-wrapper-28 *,
.checkbox-wrapper-28 *:before,
.checkbox-wrapper-28 *:after {
    box-sizing: border-box;
}

.checkbox-wrapper-28 .promoted-input-checkbox {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.checkbox-wrapper-28 input:checked~svg {
    height: calc(var(--size) * 0.6);
    -webkit-animation: draw-checkbox-28 ease-in-out 0.2s forwards;
    animation: draw-checkbox-28 ease-in-out 0.2s forwards;
}

.checkbox-wrapper-28 label:active::after {
    background-color: #e6e6e6;
}

.checkbox-wrapper-28 label {
    color: black;
    line-height: var(--size);
    cursor: pointer;
    position: relative;
}

.checkbox-wrapper-28 label:after {
    content: "";
    height: var(--size);
    width: var(--size);
    margin-right: 8px;
    float: left;
    border: 2px solid green;
    border-radius: 3px;
    transition: 0.15s all ease-out;
}

.checkbox-wrapper-28 svg {
    stroke: green;
    stroke-width: 3px;
    height: 0;
    width: calc(var(--size) * 0.6);
    position: absolute;
    left: calc(var(--size) * 0.21);
    top: calc(var(--size) * 0.2);
    stroke-dasharray: 33;
}

@-webkit-keyframes draw-checkbox-28 {
    0% {
        stroke-dashoffset: 33;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes draw-checkbox-28 {
    0% {
        stroke-dashoffset: 33;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes fade-in{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.hidden-field{
    margin-top: 20px;
    animation: fade-in 1s;
}

.saved-devices-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.saved-device-card{
    border: 1px solid black;
    padding: 17px;
    border-radius: 10px;
    width: fit-content;
    margin: 10px;
}

.saved-device-alias{
    font-weight: 600;
    font-size: 25px;
    width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.saved-device-id{
    font-size: 20px;
    color: grey;
}

.btn-in-card{
    margin-right: 20px;
}

.credential.alias{
    width: 250px;
}